{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="background_home">
    <div class="row">
        <!-- col-12 class from bootstrap -->
        <div class="standard col-12">
            <h1>Meal Planner</h1>
                <p>
                    Meal Planner is a website you can use to make a meal out of different fruit and choose a weight/mass for each type of fruit and then the website will tell you the potassium, magnesium, sodium and kcal for what you have selected.
                    The different fruits you can choose from are starwberries, bananas, apple, oranges, grapes and raspberries.
                    You are on the Create Meal page: from here you can go to the Meal List for existing meals by clicking on the Go back to meal list or create a new meal by clicking on the Create meal button.
                    On the Meal List page you can click edit and go to the Meal Update page, change the name of a meal, delete meals and go to the Create Meal page.
                    On the Meal Update page you can edit the masses or weight of each fruit, delete fruits from a meal and have the potassium, calcium, magnesium, sodium and kcal calculate for the meal. You can also go to the Add Foods and Meal List page from the Meal Update page.
                    On the Add Food page you can click the add button below a strawberry to add it to the list of fruits in the meal. If a fruit is in a meal and you don't want it there anymore you can click the delete button below the fruit.
                    The reason why you would want to know how much potassium, magnesium, sodium and kcal are in a meal is because they effect health.
                    Here is a list of health benefits.
                </p>
                <p><a href="/meal_create" class="btn btn-success" aria-label="Link with button class for creating anew meal">Login to Create New Meal</a></p>
                <table class="standard table1">
                    <tr>
                        <th>Mineral or energy</th>
                        <th>Effects</th>
                    </tr>
                    <tr>
                        <td>Potassium</td>
                        <!-- information on health came from bing AI -->
                        <td>helps with metabolism and stress reduction</td>
                        
                    </tr>
                    <tr>
                        <td>Calcium</td>
                        <td>helps make sure blood clots normally</td>
                    </tr>
                    <tr>
                        <td>Magnesium</td>
                        <!-- information of calcium from www.nhs -->
                        <td>helps with bone, heart and mental health</td>
                    </tr>
                    <tr>
                        <td>Sodium</td>
                        <td>improves muscle and nervous function</td>
                        
                    </tr>
                    <tr>
                        <td>Kcal</td>
                        <td>helps to maintain a balance between kcal consumed and energy expended</td>
                    </tr>
                </table>
        </div>
    </div>
</div>
{% endblock %}