{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="background_meal_list">
    <div class="row">
      <!-- col-12 class from bootstrap -->
        <div class="standard col-12">
          <h1>Meal List</h1>
          <p><a href="/meal_create" class="btn btn-success" aria-label="Link with button class for creating anew meal">Create New Meal</a></p>

          <table class="standard">
            <tr>
              <th> Meal name</th>
              <th> Edit </th>
              <th> Rename </th>
              <th> Delete</th>
            </tr>
            {% for meal in meal_results %}
              <tr>
                  <td class="padding4">{{meal.name}}</td>
                  <td class="padding4"><a href="/meal_update/{{meal.id}}" class="btn btn-success" aria-label="Link with button class for editing a meal">Edit or Add fruits</a></td>
                  <td class="padding4"><a href="/meal_create2/{{meal.id}}" class="btn btn-success" aria-label="Link with button class for renaming a meal">Rename</a></td>
                  <td class="padding4"><a href="/meal_delete/{{meal.id}}" class="btn btn-danger" aria-label="Link with button class for deleting a meal">Delete</a></td>
              </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
<!-- custom javascript -->

{% endblock %}