{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="background_meal_list">
    <div class="row">
        <div class="standard col-12">
          <h1>Meal List</h1>
          <p><a href="/meal_create" class="btn btn-success">Create New Meal</a></p>

          <ul>
            {% for meal in meal_results %}
              <li class="padding4">
                  {{meal.id}}&nbsp;
                  {{meal.name}}&nbsp;
                  <a href="/meal_update/{{meal.id}}" class="btn btn-success">Edit</a>&nbsp;
                  <a href="/meal_create2/{{meal.id}}" class="btn btn-success">Change name</a>&nbsp;
                  <a href="/meal_delete/{{meal.id}}" class="btn btn-danger">Delete</a>&nbsp;
              </li>
            {% endfor %}
          </ul>
        </div>
    </div>
</div>
{% endblock %}