{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <div class="container">
        <div class="row">
            <h1>Meal Planner</h1>
            <!-- <textarea>{{Meals}}</textarea>
            <textarea>items:{{item_count}}, user:{{user_id}}{{meal_items}}</textarea> -->
            <!-- col classes from bootstrap -->
                <div class="col-xl-4 col-md-8 col-12 background">
                <!-- action=my_view from bing AI -->
                <form action="{% url 'my_view' %}" method="POST">
                {% csrf_token %}
                <h2> {{ meal_contents.meal }}</h2>
                    <!-- <img class="card-img-top padding1" src="{% static 'images/fruit_bowl.jpg' %}"
                    alt="placeholder image"> -->
                        <h3> {{ meal_items}} </h3>
                        <label for="mass"> mass = </label>
                        <!-- input type number from w3schools -->
                        <!-- information on prepopulating input find using value= from AI copilot -->
                        <input class="padding2" type="number" id="mass" name="mass"+{{Meals[0].id}} value="{{meal_items.mass}}">
                        <p>mass of potassium = {{ meal_contents.potassium }} grams</p>
                        <br>
                        <p>mass of calcium = {{ meal_contents.calcium }} grams</p>
                        <br>
                        <p>mass of magnesium = {{ meal_contents.magnesium }} grams</p>
                        <br>
                        <p>mass of sodium = {{ meal_contents.sodium }} grams</p>
                        <br>
                        <p>energy  = {{ meal_contents.energy_kcal }} kcal</p>
                <br>
                <button type="submit" name="action" value="calculate" class="calculate" id="calculate{{Meals[0].id}}">calculate new content</button>
                <br>
                <button type="submit" name="action" value="delete" class="delete" id="delete{{Meals[0].id}}">delete</button>
                <br>
                <button type="submit" name="action" value="edit" class="edit" id="edit{{Meals[0].id}}">edit food types in meal</button>
            </div>
            {% endfor %}
        </form>
        </div>
    </div>
</body>
<!-- custom javascript -->
<script src="../static/js/script2.js"></script>
{% endblock %}
</html>